footer {
  background-color: skyblue;
  bottom: 0;
  width: 100%;
  text-align: center;
  margin-top: 20px;

  div {
    text-align: left;
    margin-left: 10px;
    i{
      width: 14px;
      height: 14px;
    }
    span {
      margin-left: 10px;
      text-decoration: none;
      color: black;
    }
    a{
      /*margin-left: 10px;*/
      text-decoration: none;
      color: black;
    }
  }
}
