section#Principal {
  img {
  width: 200px;
  height: 200px;
  border: 1px solid grey;
  background-color: dodgerblue;
  }
}

section#Novedades {
  img {
    border: 1px solid grey;
    border-radius: 8px;
    margin: 10px;
    width: 15rem;
    height: auto;
    background-size: cover;
  }
  p{
    width: 100%;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
  }
  p:hover{
    -webkit-line-clamp: initial;
  }
}

picture#productos img {
  width: 15rem;
  height: 10rem;
  border: 1px solid grey;
  background-color: dodgerblue;
  background-size: cover
}

.ajusto-productos {
  text-align: end;
  padding-right: 0px;
}
