/* Tamaños Fuentes*/
$font-size-xsmall: 0.75rem;
$font-size-small: 1rem;
$font-size-medium: 1.25rem;
$font-size-large: 1.5rem;
$font-size-xlarge: 2rem;
/* Colores */
$primario: skyblue;
$secundario: grey;
